gpt_2_simple
tensorflow==2.6.4
Flask
wtforms
flask-bootstrap
sklearn
tqdm
spacy
scattertext
pandas
numpy
regex
requests==2.22.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
toposort==1.5
tornado==6.0.3

